/PC/Quarentena/LojaV1/nbproject/private/
/PC/LojaV1/nbproject/private/
/PC/Quarentena/CRUD_Java_Pamela_Victor/CRUD_Java/build/
/PC/Quarentena/CRUD_Java_Pamela_Victor/CRUD_Java/nbproject/private/
/PC/Quarentena/CRUD_Java_Pamela_Victor/LojaV2/nbproject/private/
/PC/Quarentena/CRUD_Java_Pamela_Victor/LojaV2/build/
/PC/LojaV2/build/
/PC/LojaV2/nbproject/private/
/PC/HasckerCapitalist/build/
/PC/HasckerCapitalist/dist/
/PC/HasckerCapitalist/nbproject/private/
/PC/LojaV3/Loja_java/build/
/PC/LojaV3/Loja_java/dist/
/PC/LojaV3/Loja_java/nbproject/private/
/PC/Calculadora/build/
/PC/Calculadora/nbproject/private/
/PC/Triangulo/build/
/PC/Triangulo/nbproject/private/
/PC/Atividade_PC/Classes_Funcoes/nbproject/private/
/PC/Classes_Funcoes/nbproject/private/
/PC/04_05/Eleicoes_Sem_Interface/nbproject/private/
/PC/04_05/Eleicoes/Eleicoes_Sem_Interface/nbproject/private/
/PC/Eleicoes/Eleicoes_Sem_Interface/nbproject/private/
/PC/JMenu/build/
/PC/JMenu/nbproject/private/
/PC/LojaV4/Loja_java/build/
/PC/LojaV4/Loja_java/dist/
/PC/LojaV4/Loja_java/nbproject/private/
